@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.Toolbar {
  height: 86px ;
  background: #3C4048;
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.Button {
  cursor: pointer;
  background: #00ABB3;
  color: white;
  padding: 12px 16px;
  font-family: 'Inter', sans-serif;
  border-radius: 4px;
  border: 0;
}

.EditorArea {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EAEAEA;
  overflow: hidden;
}

.EditorArea__canvas {
  width: 1260px;
  height: 750px;
  background: #B2B2B2;
  position: relative;
}

.Box {
  height: 100px;
  width: 100px;
  background: #00ABB3;
  border: 2px solid #3C4048;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  user-select: none;
}

input {
  accent-color: white;
}

.label-control {
  display: inline-flex;
  align-items: center;
  gap: 4px;
color: white;
}
